<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665434869820-anoi9gam3b1q91cr2klutqd0japdn5pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665434869820-anoi9gam3b1q91cr2klutqd0japdn5pl</string>
	<key>API_KEY</key>
	<string>AIzaSyASFR7qeu0S8KuIm2YtqLLbasHM_h6r57U</string>
	<key>GCM_SENDER_ID</key>
	<string>665434869820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginProvider</string>
	<key>PROJECT_ID</key>
	<string>login-provider-46fdd</string>
	<key>STORAGE_BUCKET</key>
	<string>login-provider-46fdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665434869820:ios:ce667d2389be167ec8f339</string>
</dict>
</plist>